@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    background: beige;
    font-family: 'Roboto';
    background: url(https://www.publicdomainpictures.net/pictures/210000/velka/black-wood-texture-wallpaper.jpg)
    no-repeat center center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container{
    margin-top: 5em;
    display: grid;
    grid-template-columns: auto;
    height: fit-content;
    width: 40%;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    box-shadow: #fff 0 0 4px 0;
    border-radius: 0.5px;
}

.pre {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    font-size: 200%;
    font-weight: normal;
    margin: 0;

}

.parameters {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

.submit {
    text-align: center;
    padding-block: 1rem;
}

.submitButton {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 150%;
    padding-block: 1rem;
    padding-inline: 3rem;
}

.submitButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black
}

